.header{
width :100%;
height: 10%;
/* background-color: antiquewhite; */
padding :5px;
display:flex;
align-items: center;
}

.section1{
width :20%;
height: 100%;
display: flex;
align-items: center;

}

.section1 >i{
    width :50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 50px;
}

.section1 >img{
    width: 20%;
    height: 75%;
    padding: 5%;

}
.section2{
width :50%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;

}

.search{
width :80%;
height: 60%;
padding: 0;
margin: 0;
}

.search >input{
    height :85%;
    width :85%;
    border-radius : 20px 0 0 20px;
    padding: 0;
    margin: 0;
}
.search >button{
width :13%;
height: 100%;
border-radius: 0 20px 20px 0;
cursor: pointer;

}

.section2 >i{
width:50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 5px;
}

.section3{
width :25%;
height: 100%;
display: flex;
align-items: center;
justify-content:end
}

.section3 >i{
    margin-left: 20px;
    font-size: x-large;
    padding: 5%;
}
.section3 >div{
    margin-left:20px;
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5%;
    /* background-color:aliceblue; */
}
.section3 >div >button{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding:5%;
    cursor: pointer;
}

.section3 >div>button>i{
 margin-right: 5px;
 
}